</html>
<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("templates/head", {title: "Announcement" }) %>
</head>

<body>
    <%- include("templates/bootstrap") %>
    <%- include("templates/navbar") %>

    <div class="container-fluid bg-light pb-3">
        <div class="container-sm rounded pt-3 pb-1 text-center" id="title">
            <h1 class="display-4">Announcement</h1>
            <p class="lead">Send announcement to every guild.</p>
        </div>
        

        <div class="container-sm rounded pt-3 pb-1 bg-light border" id="announcementContainer">

            <div class="container">
                <% if (error.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                <% } if (successfull.length > 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= successfull %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                <% } %>
            </div>
            <form action="/api/announcement" method="post" autocomplete="off" class="p-3" id="announcementForm">
                <div class="row">
                    <label class="col">
                        <h3>Announcement text</h3>
                    </label>
                </div>

                <div class="row g-2 g-sm-3 align-items-center pt-3">
                    <textarea class="form-control" placeholder="Write the announcement here" name="announcementText" style="height: 100px"></textarea>
                    <div class="invalid-feedback">Insert an announcement between 1 and 2000 characters long.</div>
                </div>
                
                <button type="button" class="btn btn-primary mt-3" id="submitAnnouncement" data-bs-toggle="modal" data-bs-target="#announcementModal">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    Submit
                </button>

                <div class="modal fade" id="announcementModal" tabindex="-1">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                        This message will be sent to all guilds, are you sure you want to continue?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>
                    </div>
                </div>
            </form>  
        </div>

    </div>

</body>

</html>