<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= code %>: <%= msg %></title>
</head>

<body>
    <%- include("templates/bootstrap") %>
        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center mt-5">
                        <span class="display-1 d-block"><%= code %> </span>
                        <div class="mb-4 lead"><%= msg %> </div>
                        <a href="/" class="btn btn-primary">Back to Home</a>
                        <% if (!locals.user && code == 401) { %>
                        <a href="#" class="btn btn-secondary">Login</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        
</body>

</html>